@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Russo One', sans-serif;
}
body {
  transition: background-color .1s ease-in;

}

